@import "../../styles/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
    margin: 20px 0px 20px 0px;
}

p {
    font-size: 1.25rem;
    color: #3c3c3c;
    line-height: 1.6em !important;
}