@import "../../styles/variables.scss";

.card {
  background-image: linear-gradient(90deg, $card, $bg);
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease all;
  // :hover {
  //   background-image: linear-gradient(90deg, red, $bg);
  // }
  a {
    text-decoration: none;
  }
}
.card:hover {
  background-image: linear-gradient(90deg, $cardHover, $bg);
}

// @media (min-width: $breakpoint-sm) {
//   .card {
//     margin-bottom: 20px;
//     padding: 10px 20px;
//   }
// }

.card h1 {
  font-size: 1.3em;
  font-weight: 500;
}
